@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.perfil{
    font-family: Montserrat, sans-serif;

}
.appbar{
    background-color: rgb(15 23 42);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 99%;
    
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.botaojogar{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
    margin-top: 10px;
    background-color: rgb(15 23 42);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.5s;
}

.body{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

h2{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    
}

.pontos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espaco{
    color:rgb(15 23 42);
}
.pontuacao{
    width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 40px;
    border-radius: 3px;
    padding-left: 7px;
    margin-top: 70px;
    background-color: rgb(15 23 42);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.retangulo{
    height: 300px;
    width: 800px;
    background-color: #ddd9ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.pontuacoes{
    font-size:x-large;
    font-weight: bold;
    margin-top: 10px;
}