@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.appbar{
  color: rgb(15 23 42);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 99%;
  font-family: Montserrat, sans-serif;
  font-style: white;
  
}

h1{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.icone{
  width: 30px;
  height: 30px;
  
}